Write programs using lists in python
1. Reverse a given list in Python
aList = [100, 200, 300, 400, 500]
output:
[500, 400, 300, 200, 100]

In [1]:
aList = [100, 200, 300, 400, 500]

In [2]:
aList[::-1]

[500, 400, 300, 200, 100]

2. take a list 'l1' of even nos between 150 to 250. Print its length.
Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'.

In [21]:
l1 = []
for i in range(150,251,2):
    l1.append(i)
print(len(l1))
print(l1)

51
[150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [22]:
l2 = [x for x in l1 if x%4 == 0]
print(l2)

[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]

3. Given a Python list of numbers. Turn every item of a list into its square root
aList = [1, 4, 9, 16, 25, 36, 49] 
output:
[1, 2, 3, 4, 5, 6, 7]

In [15]:
aList = [1, 4, 9, 16, 25, 36, 49]

In [19]:
import math
new_list = [math.sqrt(x) for x in aList]
new_list

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

4. Print two lists in the following order
list1 = [5, 6,7]
list2 = [0, 1]
output:
50,51,60,61,70,71

In [32]:
list1 = [5, 6,7]
list2 = [0, 1]

In [39]:
for i in list1:
    for j in list2:
        print(i,j, sep='')

50
51
60
61
70
71

5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. It should work for any two lists.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [40]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

In [41]:
for i,j in zip(list1, list2[::-1]):
    print(i,j)

10 400
20 300
30 200
40 100

6. Remove empty strings from the list of strings
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [46]:
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]

In [48]:
for i in list1:
    if i == "":
        list1.remove(i)
list1

['Ashish', 'Atharva', 'Amit', 'Revati']

7. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [49]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [51]:
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

8. Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [55]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

In [56]:
list1[2][1][2].extend(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [58]:
list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1.index(20)
list1[index] = 200
list1

[5, 10, 15, 200, 25, 50, 20]

10. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
output:
[5, 15, 25, 50]

In [66]:
list1 = [5, 20, 15, 20, 25, 50, 20]

In [67]:
for i in list1:
    if i == 20:
        list1.remove(20)
list1

[5, 15, 25, 50]

11. Take a number as input from user. 
Print maximum and minimum integer which can be generated using all the digits in the input number
Ex. Input 3421   : o/p max: 4321, min 1234
Input 7789    : o/p max: 9776   min 6779

In [84]:
num = input("Enter A Number: ")
print("Input: "+num)
list1 = list(num)
list1.sort()
min = ''.join(list1)
print("Min: "+min)
list1.sort(reverse = True)
max = ''.join(list1)
print("Max: "+max)

Enter A Number: 3421
Input: 3421
Min: 1234
Max: 4321

Q. What will be output of following and explain why?
a. 
l1 = [ 0 , 1]
x= l1[0]
x, l1[x] = 1, 300
print(l1)

In [92]:
l1 = [ 0 , 1]

In [93]:
l1[0]

0

In [94]:
x = l1[0]
x

0

In [96]:
x, l1[x] = 1, 300
print(x)
l1

1

[0, 300]

b.
comp = [1, 2, ('aa', 'ab')]   < [1, 2, ('abc', 'a'), 4]
print(comp)

In [97]:
comp = [1, 2, ('aa', 'ab')]   < [1, 2, ('abc', 'a'), 4]
print(comp)

True

In [105]:
l1 = ['aab']
l2 = ['ab']
print(l1 < l2)

True