Q. What will be output of printing following calculations
a. 1.5e200 *2.0e210
b. 3.4e-320 / 1e100

In [2]:
1.5e200 *2.0e210

inf

In [4]:
3.4e-320 / 1e100

0.0

Q. What is output of printing following
a. 1/3
b. format(1/3, '.3f')
c. format(1/3, '.1f')
d. 6*1/3
e. 1/3 + 1/3 + 1/3 + 1/3 + 1/3 + 1/3

In [5]:
1/3

0.3333333333333333

In [6]:
format(1/3, '.3f')

'0.333'

In [7]:
format(1/3, '.1f')

'0.3'

In [8]:
6*1/3

2.0

In [9]:
1/3 + 1/3 + 1/3 + 1/3 + 1/3 + 1/3

1.9999999999999998

Q. Study how format function works to print floating point values and strings . Then solve following using format function
a. print only first 5 decimal values of 22/7 (hint: see b of Q3)
b. print Hello string with 5 spaces on right side, 'Hello     ' ( hint: use <)
c. print Hello string with 5 spaces on left side, '     Hello' ( hint: use <) 
d. print Hello string with 5 '#' on left side and 5 '#' on right side, '     Hello     ' ( hint: use ^ and # as fill value)
e. print 10 spaces (hint: give 10 as argument)

In [10]:
format(22/7, '.5f')

'3.14286'

In [12]:
format("Hello", '<10')

'Hello     '

In [13]:
format("Hello", '>10')

'     Hello'

In [14]:
format('Hello', '#^15')

'#####Hello#####'

In [15]:
format(' ','10')

'          '

Q. We can use ord() to print ASCII value of single character and chr() to convert given ASCII value to character. 
a. find ASCII of characters'a' , 'A' , 'z' , 'Z' using ord() one by one
b. find ASCII of characters '0', '9', ' ', "\n" , "\t" using ord() one by one
c. Find characters for ASCII values 35, 67, 50, 99

In [16]:
ord('a')

97

In [17]:
ord('A')

65

In [18]:
ord('z')

122

In [19]:
ord('Z')

90

In [20]:
ord('0')

48

In [21]:
ord('9')

57

In [22]:
ord(' ')

32

In [23]:
ord('\n')

10

In [25]:
ord('\t')

9

In [27]:
chr(35)

'#'

In [28]:
chr(67)

'C'

In [29]:
chr(50)

'2'

In [30]:
chr(99)

'c'

Q. Find how special chracters work inside print function
a. print("abc","\n","bcd")
b. print("abc\nbcd")
c. print(1,'\n',2)
d. print("hello \n\n!!")
e. print("This is '\t' means tab")
f. How many spaces are printed using \t?
g. print("This","is","different",sep='\t')
h. print("This","is","different",sep='#')
i. print("This","is","different",sep='\n') 
j. print("This","is","different",end='\n')

In [31]:
print("abc","\n","bcd")

abc
 bcd

In [33]:
print("abc\nbcd")

abc
bcd

In [32]:
print(1,'\n',2)

1
 2

In [34]:
print("hello \n\n!!")

hello

!!

In [35]:
print("This is '\t' means tab")

This is '	' means tab

In [36]:
print("This","is","different",sep='\t')

This	is	different

In [37]:
print("This","is","different",sep='#')

This#is#different

In [38]:
print("This","is","different",sep='\n')

This
is
different

In [45]:
print("This","is","different",end='\n')

This is different

Q. What is output of following statements and understand how operators work
a. 10 / 2
b. 10 // 2.0
c. 101 / 3
d. 101 // 3
e. 101 % 3
f. 2 ** 4
g. 3 ** 2
h. abs(-10) # give absolute value
i. divmod(101,3) # divmod gives two values , interger division and remainder
j. 8 << 1
k. 8 << 2
l. 32 >> 2
m. 16 >> 1

In [46]:
10 / 2

5.0

In [52]:
10 // 2.0

5.0

In [53]:
101 / 3

33.666666666666664

In [54]:
101 // 3

33

In [55]:
101 % 3

2

In [56]:
2 ** 4

16

In [57]:
3 ** 2

9

In [58]:
abs(-10)

10

In [59]:
divmod(101, 3)

(33, 2)

In [60]:
8 << 1

16

In [61]:
8 << 2

32

In [62]:
32 >> 2

8

In [63]:
16 >> 1

8

Q. Write a program to take marks of 3 subjects from a student. Calculate total in variable name 'total'.
(NOTE: Don't use sum as variable name, it is built in function in python)

In [66]:
Eng = 97
Maths = 83
Sci = 72
total = Eng + Maths + Sci
print("Total:", total)

Total: 252

Q. verify output using python shell
a. 2 + 3 * (4 -1)
b. 2 + ((3 *4) - 8)
c. (2 + 3) * 4
d. -10 + 25 / (16 + 12)
e. 2 ** 2 ** 2
f. (3 ** 2) ** 3
g. x = y = 3 + 5
h. 8/2*(2+2)

In [67]:
2 + 3 * (4 -1)

11

In [68]:
2 + ((3 *4) - 8)

6

In [69]:
(2 + 3) * 4

20

In [70]:
-10 + 25 / (16 + 12)

-9.107142857142858

In [71]:
2 ** 2 ** 2

16

In [72]:
(3 ** 2) ** 3

729

In [75]:
x = y = 3 + 5
print(x, y, sep=' ')

8 8

In [76]:
8/2*(2+2)

16.0

Q. Check output of following 
a. x = y = 10
b. x1 = 20 = y1

In [79]:
x = y = 10
print(x, y, sep=' ')

10 10

In [80]:
x1 = 20 = y1

SyntaxError: cannot assign to literal (1868644801.py, line 1)

Q. What is output of following
a. x=10
y=34.4
print(x and y)
print(x or y)

In [81]:
x=10
y=34.4
print(x and y)
print(x or y)

34.4
10

1.	A student will not be allowed to sit in exam if his/her attendence is less than 75%.  
Take following input from user Number of classes held Number of classes attended. And print percentage of class attended  
Is student is allowed to sit in exam or not.

In [87]:
classes_held = int(input("Enter The Number of Classes Held: "))
classes_attended = int(input("Enter The Number of Classes Attended: "))

attendence = (classes_attended * 100) // classes_held

if attendence < 75 :
    print("You Are Not Allowed To Sit In Exam..!!")
elif 100 >= attendence >=75 :
    print("You Are Allowed To Sit In Exam..!!")
else : 
    print("Invalid Attendence..!!")

Enter The Number of Classes Held: 85
Enter The Number of Classes Attended: 67
You Are Allowed To Sit In Exam..!!

2. accept amount from user and find the minimum number notes required to get the amount amount =512  
Notes: 2000,500,100,50,10,5,2,1  

500-1 note  
10  - 1 note  
2-  1 coin  

amount=20550  
2000 – 10 note  
500 – 1 note  
50 -1 note

In [90]:
amount = int(input("Enter The Amount: "))

notes_2000 = amount // 2000
if notes_2000 > 0:
    print("2000 -", notes_2000)
rem_amount = amount % 2000

notes_500 = rem_amount // 500
if notes_500 > 0:
    print("500 -", notes_500)
rem_amount = amount % 500

notes_100 = rem_amount // 100
if notes_100 > 0:
    print("100 -", notes_100)
rem_amount = amount % 100

notes_50 = rem_amount // 50
if notes_50 > 0:
    print("50 -", notes_50)
rem_amount = amount % 50

notes_10 = rem_amount // 10
if notes_10 > 0:
    print("10 -", notes_10)
rem_amount = amount % 10

coin_5 = rem_amount // 5
if coin_5 > 0:
    print("5 -", coin_5)
rem_amount = amount % 5

coin_2 = rem_amount // 2
if coin_2 > 0:
    print("2 -", coin_2)
rem_amount = amount % 2

coin_1 = rem_amount // 1
if coin_1 > 0:
    print("1 -", coin_1)
rem_amount = amount % 1

Enter The Amount: 458621
2000 - 229
500 - 1
100 - 1
10 - 2
1 - 1

3.	Modify the above question Q1 to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [92]:
classes_held = int(input("Enter The Number of Classes Held: "))
classes_attended = int(input("Enter The Number of Classes Attended: "))

attendence = (classes_attended * 100) // classes_held

if attendence < 75 :
    med_cer = input("Do You Have Madical Cause? Y/N")
    if med_cer == 'Y' :
        print("You Are Allowed To Sit In Exam..!!")
    else :
        print("You Are Not Allowed To Sit In Exam..!!")
elif 100 >= attendence >=75 :
    print("You Are Allowed To Sit In Exam..!!")
else : 
    print("Invalid Attendence..!!")

Enter The Number of Classes Held: 200
Enter The Number of Classes Attended: 130
Do You Have Madical Cause? Y/NN
You Are Not Allowed To Sit In Exam..!!

4.	A school has following rules for grading system:  
a.	Below 25 - F  
b.	25 to 45 - E  
c.	45 to 50 - D  
d.	50 to 60 - C  
e.	60 to 80 - B  
f.	Above 80 - A  
Ask user to enter marks and print the corresponding grade.

In [100]:
marks = int(input("Enter Your Marks: "))

if marks < 25 :
    print("Grade : F")
elif 25 <= marks < 45 :
    print("Grade : E")
elif 45 <= marks < 50 :
    print("Grade : D")
elif 50 <= marks < 60 :
    print("Grade : C")    
elif 60 <= marks < 80 :
    print("Grade : B")
elif 80 <= marks :
    print("Grade : A")

Enter Your Marks: 55
Grade : C

5.	  If  x = 2 y = 5 z = 0  then find values of the following expressions and Print the output of following statements  
a.	x == 2  
b.	x != 5  
c.	x != 5 & y >= 5  
d.	z != 0 | x == 2  
e.	not(y < 10)

In [101]:
x = 2
y = 5
z = 0

In [102]:
x == 2

True

In [103]:
x != 5

True

In [104]:
x != 5 & y >= 5

True

In [105]:
z != 0 | x == 2

True

In [106]:
not(y < 10)

False

6.	Accept number from user and check whether it is divisible by 5 and 11 if divisible then display appropriate message.

In [112]:
num = int(input("Enter A Number: "))

if (num % 5 == 0) and (num % 11 == 0) :
    print("The Number is Divisible by 5 and 11 !!")
else :
    print("The Number is Not Divisible by 5 and 11 !!")

Enter A Number: 55
The Number is Divisible by 5 and 11 !!

7.	Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :  
             Unit                                    Price    
First 100 units                                       no charge  
Next 100 units                                        Rs 5 per unit  
After 200 units                                       Rs 10 per unit  
(For example if input unit is 350 than total bill amount is Rs2000)

In [1]:
unit = int(input("Enter The Number of Units: "))

if unit <= 100 :
    print("No Charge")
elif 100 < unit <= 200 :
    charge = (unit - 100) * 5
    print("Your Charge is",charge)
elif 200 < unit :
    charge = (unit - 200) * 10 + 100 * 5 + 0
    print("Your Charge is",charge)

Enter The Number of Units: 250
Your Charge is 1000

8.	Write a program to check whether the last digit of a number( entered by user ) is divisible by 3 or not.

In [3]:
number = int(input("Enter A Number: "))
num = number % 10
if num % 3 == 0:
    print("The Last Digit of Number is Divisible by 3")
else :
    print("The Last Digit of Number is not Divisible by 3")

Enter A Number: 526
The Last Digit of Number is Divisible by 3

9.	Write a program to check whether an years is leap year or not the year is leap if it satisfies following condition  
•	It the year is divisible by 100 o If it is divisible by 100, then it should also be divisible by 400 then it is leap year  
•	otherwise, all other years divisible by 4 and not divisible by 100 then it is leap year.

In [4]:
year = int(input("Enter The Year: "))

if (year % 100 == 0) and (year % 400 == 0) :
    print("The Year is Leap Year..!!")
elif (year % 4 == 0) and (year % 100 != 0) :
    print("The Year is Leap Year..!!")
else :
    print("The Year is Not Leap Year..!!")

Enter The Year: 2016
The Year is Leap Year..!!

10. Write a program to accept the price of a bike and display the road tax and insurance to be paid according to the following criteria . also display total amount to be paid.  
      
        Cost price (in Rs)           Tax                Inssurance  
        > 100000                     15 %                   20%  
        > 50000 and <= 100000        10%                    8%  
        <= 50000                     5%                     5%

In [5]:
price = int(input("Enter The Price of Your Bike: "))
if price > 100000 :
    tax = price * 0.15
    insurance = price * 0.20
    total = tax + insurance
    print("Your Tax For Bike: ",tax)
    print("Your Insurance For Bike: ",insurance)
    print("Your Total Amount To Be Paid: ",total)
elif 100000 <= price > 50000 :
    tax = price * 0.10
    insurance = price * 0.08
    total = tax + insurance
    print("Your Tax For Bike: ",tax)
    print("Your Insurance For Bike: ",insurance)
    print("Your Total Amount To Be Paid: ",total)
elif price <= 50000 :
    tax = price * 0.05
    insurance = price * 0.05
    total = tax + insurance
    print("Your Tax For Bike: ",tax)
    print("Your Insurance For Bike: ",insurance)
    print("Your Total Amount To Be Paid: ",total)

Enter The Price of Your Bike: 500000
Your Tax For Bike:  75000.0
Your Insurance For Bike:  100000.0
Your Total Amount To Be Paid:  175000.0

1.	Accept 10 integers from user  and print their average value on the screen

In [7]:
total = 0

for i in range(1,11) :
    num = int(input("Enter The Value: "))
    total += num

average = total / 10
print("Average:", average)

Enter The Value: 1
Enter The Value: 2
Enter The Value: 3
Enter The Value: 4
Enter The Value: 5
Enter The Value: 6
Enter The Value: 7
Enter The Value: 8
Enter The Value: 9
Enter The Value: 10
Average: 5.5

2.	Print the following patterns using loop : 

* 
** 
***
****

In [35]:
num = int(input("Enter The Value: "))

for i in range(0,num) :
    for j in range(0,i+1) :
        print('*',end='')
    print('\r')

Enter The Value: 4
*
**
***
****

1010101          
 10101  
  101   
   1

In [1]:
n = int(input("Enter The Value: "))
space = 0
for i in range(n-1, -1, -1) :
    print(' ' * space, '10' * i, '1', sep = '')
    space += 1

Enter The Value: 5
101010101
 1010101
  10101
   101
    1

1  
1 2  
1 2 3  
1 2 3 4  
1 2 3 4 5

In [4]:
num = int(input("Enter The Value: "))
for i in range(1, num+1) :
    for j in range(1, i+1) :
        print(j,end = " ")
    print("\r")

Enter The Value: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

3. Take integer inputs from user until he/she presses q ( Ask to press q to quit after every integer input ). Print average and product of all numbers

In [22]:
addition = 0
count = 0
product = 1

while (num := input("Enter A Number: ")) != 'q' :
    print("Enter 'q' To Quit The Program..!!")
    count += 1
    addition += int(num)
    average = addition / count
    product *= int(num)
    
print("Average:", average)
print("Product:", product)

Enter A Number: 5
Enter 'q' To Quit The Program..!!
Enter A Number: 6
Enter 'q' To Quit The Program..!!
Enter A Number: 8
Enter 'q' To Quit The Program..!!
Enter A Number: 9
Enter 'q' To Quit The Program..!!
Enter A Number: 6
Enter 'q' To Quit The Program..!!
Enter A Number: 7
Enter 'q' To Quit The Program..!!
Enter A Number: 1
Enter 'q' To Quit The Program..!!
Enter A Number: q
Average: 6.0
Product: 90720

4. Given a number count the total number of digits in a number and also find sum of digits of the number

In [32]:
num = int(input("Enter A Number: "))
add = 0
count = 0

while num != 0 :
    count += 1
    digit = num % 10
    add += digit
    num = num // 10 

print("Count of Digits is ", count)
print("Sum of Digits is ", add)

Enter A Number: 789654123
Count of Digits is  9
Sum of Digits is  45

5. To display the cube of the number upto given an integer. If the given integer is 5, then display cube of 1 to 4

In [34]:
num = int(input("Enter A Number: "))

for i in range(1,num) :
    print("Cube of",i,"is",i*i*i)

Enter A Number: 5
Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64

6. Accept 20 numbers from user and display sum of only even numbers

In [39]:
add = 0

for i in range(1,21) :
    num = int(input("Enter A Number: "))
    if num % 2 == 0 :
        add += num
    
print("Sum of Even Numbers is",add)

Enter A Number: 1
Enter A Number: 2
Enter A Number: 3
Enter A Number: 4
Enter A Number: 5
Enter A Number: 6
Enter A Number: 7
Enter A Number: 8
Enter A Number: 9
Enter A Number: 10
Enter A Number: 1
Enter A Number: 2
Enter A Number: 3
Enter A Number: 4
Enter A Number: 5
Enter A Number: 6
Enter A Number: 7
Enter A Number: 8
Enter A Number: 9
Enter A Number: 10
Sum of Even Numbers is 60

7. Ask user number of terms to be generated of a series. 
generate numbers for the following series and find its addition 
[9 + 99 + 999 + 9999+……..]

In [43]:
num = int(input("Enter A Number of To Be Generated of a Series: "))
add = 0
for i in range(1,num+1) :
    print('9' * i)
    add = add + int('9' * i)
print (add)

Enter A Number of To Be Generated of a Series: 6
9
99
999
9999
99999
999999
1111104

8. Write a program in python to display the sum of the series [ 1+x+x^2/2!+x^3/3!+....]. Go to the editor 
Test Data : 
Input the value of x :3 Input number of terms : 5 Expected Output : 
The sum is : 16.375000

In [44]:
import math
add = 0
num = int(input("Enter a number:"))
term = int(input("Enter the number of terms:"))

for i in range (0,term) :
    term1 = num ** i / math.factorial(i)
    print (term1)
    add = add + term1
print(add)

Enter a number:3
Enter the number of terms:5
1.0
3.0
4.5
4.5
3.375
16.375

10. Take a number from user and check if it is prime or not

In [60]:
num = int(input("Enter A Number: "))
for i in range(2,num):
    if num % i ==0:
        print("Not prime")
        break
else:
    print("Prime")

Enter A Number: 47
Prime

11. Take a number from user and print sum of all odd numbers till that number.
Ex. Enter a no : 10   
Sum of all odd numbers till 10 : 3+5+7+9  =25

In [63]:
num = int(input("Enter A Number: "))
sum1 = 0
for i in range(1,num+1,2) :
    sum1 = sum1 + i
print("Sum of All Odd Numbers: ",sum1)

Enter A Number: 10
Sum of All Odd Numbers:  25